@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgba(240, 248, 255, 0.897);
  font-family: "Roboto", sans-serif;
  background: url("./image/quiz-background.jpg") no-repeat center center/cover;
}

/* LAYOUT */
.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

@media (max-height: 320px) {
  .layout {
    height: 220vh;
  }
}
@media (max-height: 400px) {
  .layout {
    height: 200vh;
  }
}
@media (max-height: 420px) {
  .layout {
    height: 210vh;
  }
}

@media (max-height: 320px) {
  .layout {
    min-height: 150vh;
  }
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

/* Navbar */
.navbar {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.navbar-button {
  cursor: pointer;
}
.navbar-button:hover {
  color: rgba(255, 255, 255, 0.514);
}

/* Logo */
.logo {
  font-family: "Orbitron", sans-serif;
  padding: 2rem;
  font-size: 2.6rem;
  letter-spacing: 3px;
}

@media (max-width: 420px) {
  .logo {
    padding: 1.5rem;
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

/* Footer */
.footer {
  font-size: 1rem;
}

/* start page */
.pick-difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.button-difficulty {
  outline: 0;
  margin: 1rem 0;
  padding: 1rem;
  width: 20vw;
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.514) 4px solid;
  background: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .button-difficulty {
    width: 50vw;
  }
}

.button-difficulty:hover {
  background: rgba(255, 255, 255, 0.233);
}

/* --------------------- */

/* Game Page */
.game-card {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (max-height: 400px) {
  .game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.answer-button {
  background: rgba(75, 66, 66, 0.801);
  font-size: 1rem;
  color: white;
  border-radius: 50px;
  outline: 0;
  margin-top: 1rem;
  height: 4rem;
  width: 20rem;
  box-shadow: rgba(102, 102, 102, 0.082) 4px 4px 4px 4px;
}

.answer-button:hover {
  background: rgba(122, 114, 114, 0.801);
}
@media (max-width: 420px) {
  .answer-button {
    font-size: 1 0.8rem;
    margin-top: 1rem;
    height: 3rem;
    width: 18rem;
  }
}

.game-answers {
  display: flex;
  flex-direction: column;
}

.right-answer {
  background-color: green;
}

.wrong-answer {
  background: crimson;
}

.reveal-correct-answer {
  border: 3px solid green;
  transition: 0.5s ease-in;
}

.disabled {
  pointer-events: none;
}

.game-question {
  font-size: 1.3rem;
  width: 50%;
  background: rgba(102, 102, 102, 0.562);
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 420px) {
  .game-question {
    font-size: 1.2rem;
    width: 100%;
    background: rgba(102, 102, 102, 0.562);
    padding: 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    text-align: center;
  }
}

/* Lading ... */
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 22px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Game Over */
.game-over-title {
  color: white;
  font-size: 1.5rem;
}

.bottom-line {
  height: 5px;
  width: 20%;
  background: rgba(255, 255, 255, 0.719);
  margin: 2rem auto;
}

.succes-rate {
  font-size: 2rem;
  margin: 2rem 0;
}

@media (max-width: 420px) {
  .succes-rate {
    font-size: 1.5rem;
    margin: 2rem 0;
  }
}
